/* line 21, backend_w.scss */
.fa.fa-star {
  color: #f59110;
}

/* line 25, backend_w.scss */
.fa.fa-star-o {
  color: #979797;
}

/* line 29, backend_w.scss */
.no-padding {
  padding: 0 !important;
}

/* line 33, backend_w.scss */
textarea.form-control {
  height: auto !important;
}

/* line 37, backend_w.scss */
div.fa-file-text-o {
  margin-right: 5px;
  color: #009f00;
}

/* line 42, backend_w.scss */
.btn.btn-gray {
  color: #e4e4e4;
  text-shadow: none;
  background-image: linear-gradient(to bottom, #bababa 0, #979797 100%);
}
/* line 46, backend_w.scss */
.btn.btn-gray:hover {
  background-image: linear-gradient(to bottom, #979797 0, #bababa 100%);
}

/* line 57, backend_w.scss */
#user_setting h2,
#rewiew-settins-form h2,
.review_list h2,
.user_list h2,
#gallery-products-product-form h2,
#gallery-form h2 {
  font-size: 18px;
  color: #000000;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin-bottom: 26px;
  padding-left: 5px;
}
/* line 66, backend_w.scss */
#user_setting h3,
#rewiew-settins-form h3,
.review_list h3,
.user_list h3,
#gallery-products-product-form h3,
#gallery-form h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
/* line 76, backend_w.scss */
#user_setting h5,
#rewiew-settins-form h5,
.review_list h5,
.user_list h5,
#gallery-products-product-form h5,
#gallery-form h5 {
  padding-left: 0;
  margin-top: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}
/* line 88, backend_w.scss */
#user_setting .help-inline,
#user_setting .error,
#rewiew-settins-form .help-inline,
#rewiew-settins-form .error,
.review_list .help-inline,
.review_list .error,
.user_list .help-inline,
.user_list .error,
#gallery-products-product-form .help-inline,
#gallery-products-product-form .error,
#gallery-form .help-inline,
#gallery-form .error {
  color: #B94A48;
  border-color: #B94A48;
}
/* line 93, backend_w.scss */
#user_setting .help-inline,
#rewiew-settins-form .help-inline,
.review_list .help-inline,
.user_list .help-inline,
#gallery-products-product-form .help-inline,
#gallery-form .help-inline {
  position: absolute;
  font-size: 12px;
}

/* line 101, backend_w.scss */
.menu-list .menu-item img {
  max-width: 48px;
  max-height: 48px;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.44);
}
/* line 109, backend_w.scss */
.menu-list .menu-item:hover img {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #cfcfcf;
  box-shadow: none;
}

/* line 119, backend_w.scss */
span.reset {
  position: relative;
  left: -4px;
  width: 40px;
  height: 30px;
  display: inline-block;
  background: url("/images/icon-admin/reset.png") 2px 0 no-repeat;
}

/* line 128, backend_w.scss */
.img-key {
  width: 16px;
  height: 12px;
  display: inline-block;
  background: url("/images/icon-admin/key.png") 2px 0 no-repeat;
}

/* line 135, backend_w.scss */
.main-title-block {
  height: 74px;
  vertical-align: middle;
}
/* line 138, backend_w.scss */
.main-title-block.main-title {
  padding-top: 20px;
}
/* line 139, backend_w.scss */
.main-title-block.main-title .menu-back {
  position: relative;
  top: -20px;
  display: inline-block;
  margin-right: 5px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  width: 30px;
}
/* line 148, backend_w.scss */
.main-title-block.main-title .menu-back:hover {
  color: #3d3d3d;
  background-color: #d9d9d9;
}
/* line 154, backend_w.scss */
.main-title-block.main-title .title {
  font-size: 30px;
}
/* line 158, backend_w.scss */
.main-title-block.module-title {
  background-color: #e4e4e4;
  border: 1px solid #cfcfcf;
  padding-top: 25px;
}
/* line 162, backend_w.scss */
.main-title-block.module-title .title {
  font-size: 24px;
  float: left;
}
/* line 167, backend_w.scss */
.main-title-block.module-title .top-filter .title {
  margin-top: 15px;
  font-weight: normal !important;
}
/* line 171, backend_w.scss */
.main-title-block.module-title .top-filter .fa {
  margin-top: 16px;
}
/* line 175, backend_w.scss */
.main-title-block.module-title .menu-back, .main-title-block.module-title .fa.fa-angle-left {
  line-height: 20px;
  font-size: 25px;
}
/* line 179, backend_w.scss */
.main-title-block.module-title .title-block {
  float: left;
  padding-top: 25px;
}
/* line 182, backend_w.scss */
.main-title-block.module-title .title-block .date {
  font-size: 12px;
  padding-left: 25px;
}
/* line 187, backend_w.scss */
.main-title-block.module-title .container {
  position: relative;
  padding-left: 52px;
}
/* line 192, backend_w.scss */
.main-title-block.module-title .container > a span.pull-left {
  display: block;
  position: absolute;
  top: -25px;
  left: 15px;
  line-height: 73px !important;
  height: 73px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
/* line 204, backend_w.scss */
.main-title-block.module-title .container > a:hover span {
  color: #3d3d3d;
  background-color: #d9d9d9;
}
/* line 210, backend_w.scss */
.main-title-block.module-title a:hover {
  text-decoration: none;
}
/* line 216, backend_w.scss */
.main-title-block.module-title .order-block .price-block, .main-title-block.module-title .order-block .status-block {
  margin-left: 60px;
  float: left;
}
/* line 220, backend_w.scss */
.main-title-block.module-title .order-block .price-block {
  font-size: 16px;
  margin-top: 20px;
}
/* line 223, backend_w.scss */
.main-title-block.module-title .order-block .price-block > * {
  float: left;
}
/* line 226, backend_w.scss */
.main-title-block.module-title .order-block .price-block .price {
  margin-top: 10px;
  margin-left: 10px;
}
/* line 230, backend_w.scss */
.main-title-block.module-title .order-block .price-block .number {
  color: #1242e3;
}
/* line 233, backend_w.scss */
.main-title-block.module-title .order-block .price-block .cur {
  color: #979797;
}
/* line 237, backend_w.scss */
.main-title-block.module-title .order-block .status-block {
  margin-top: 10px;
}
/* line 240, backend_w.scss */
.main-title-block.module-title .order-block .gray-title {
  color: #979797;
  margin-bottom: 5px;
}
/* line 246, backend_w.scss */
.main-title-block .title {
  float: left;
}
/* line 249, backend_w.scss */
.main-title-block .menu-back {
  font-size: 30px;
  margin-right: 15px;
  padding: 0 5px;
  float: left;
}
/* line 255, backend_w.scss */
.main-title-block .dropdown {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
/* line 259, backend_w.scss */
.main-title-block .dropdown .btn {
  padding: 2px 6px;
}

/* line 265, backend_w.scss */
.review_list.items,
.user_list {
  position: relative;
  width: 940px;
  margin-left: -15px;
}
/* line 272, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group,
.user_list .pagination .bootstrap-select.btn-group {
  width: 45px;
  display: inline;
}
/* line 276, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-menu,
.user_list .pagination .bootstrap-select.btn-group .dropdown-menu {
  min-width: 20px;
  width: 102px;
  border-radius: 0;
  left: 0px;
  top: 26px;
}
/* line 284, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-menu ul li a,
.user_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li a {
  width: 100%;
  padding-left: 10px;
}
/* line 287, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-menu ul li a:hover,
.user_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li a:hover {
  background: #004cff;
  color: #fff;
}
/* line 292, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-menu ul li.selected a,
.user_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li.selected a {
  border: none;
  background: #1242e3;
  color: #fff;
}
/* line 300, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .caret,
.user_list .pagination .bootstrap-select.btn-group .caret {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 307, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-toggle,
.user_list .pagination .bootstrap-select.btn-group .dropdown-toggle {
  border-left: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  height: 30px;
  width: 45px;
  min-width: 40px;
  padding-left: 3px;
}
/* line 316, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-toggle .caret,
.user_list .pagination .bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 2px;
}
/* line 319, backend_w.scss */
.review_list.items .pagination .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.user_list .pagination .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 23px;
  text-align: right;
}
/* line 330, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-menu,
.user_list .bootstrap-select.btn-group .dropdown-menu {
  min-width: 20px;
  width: 55px;
  border-radius: 0;
  left: -40px;
  top: 23px;
}
/* line 338, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-menu ul li a,
.user_list .bootstrap-select.btn-group .dropdown-menu ul li a {
  padding-left: 10px;
}
/* line 340, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-menu ul li a:hover,
.user_list .bootstrap-select.btn-group .dropdown-menu ul li a:hover {
  background: #004cff;
  color: #fff;
}
/* line 345, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-menu ul li.selected a,
.user_list .bootstrap-select.btn-group .dropdown-menu ul li.selected a {
  border: none;
  background: #1242e3;
  color: #fff;
}
/* line 355, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .caret,
.user_list .bootstrap-select.btn-group .caret {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 362, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-toggle,
.user_list .bootstrap-select.btn-group .dropdown-toggle {
  padding-left: 3px;
}
/* line 364, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-toggle .caret,
.user_list .bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 2px;
}
/* line 367, backend_w.scss */
.review_list.items .bootstrap-select.btn-group .dropdown-toggle .filter-option,
.user_list .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 23px;
  text-align: center;
}
/* line 374, backend_w.scss */
.review_list.items .fa-angle-left:before, .review_list.items .fa-angle-right:before,
.user_list .fa-angle-left:before,
.user_list .fa-angle-right:before {
  vertical-align: -3px;
  position: relative;
  left: 9px;
}
/* line 379, backend_w.scss */
.review_list.items .product_for_page,
.user_list .product_for_page {
  position: absolute;
  left: 100%;
}
/* line 383, backend_w.scss */
.review_list.items .product_for_page.bootstrap-select,
.user_list .product_for_page.bootstrap-select {
  height: 0 !important;
  width: 0 !important;
  border: none !important;
}
/* line 388, backend_w.scss */
.review_list.items .product_for_page button,
.user_list .product_for_page button {
  position: absolute;
  margin-top: 0px;
  right: 0px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  width: 40px;
  font-size: 12px;
  height: 27px;
  background: linear-gradient(to top, #e8e8e8, #fff);
}
/* line 400, backend_w.scss */
.review_list.items .pag-cont,
.user_list .pag-cont {
  float: right;
  margin-right: 92px;
}
/* line 405, backend_w.scss */
.review_list.items .pag-cont ul.pagination li a,
.user_list .pag-cont ul.pagination li a {
  width: 29px;
  height: 30px;
  padding: 0;
}
/* line 412, backend_w.scss */
.review_list.items .pag-cont .dropdown.dropdown-select,
.user_list .pag-cont .dropdown.dropdown-select {
  display: inline-block;
  padding-left: 0;
  float: right;
  margin: 7px 0 20px 46px;
  border-radius: 4px;
}
/* line 418, backend_w.scss */
.review_list.items .pag-cont .dropdown.dropdown-select .btn,
.user_list .pag-cont .dropdown.dropdown-select .btn {
  font-size: 12px;
  width: 40px;
  height: 27px;
  padding: 0;
  padding-top: 1px;
}
/* line 426, backend_w.scss */
.review_list.items .pag-cont .pagination,
.user_list .pag-cont .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0 16px;
  border-radius: 4px;
}
/* line 432, backend_w.scss */
.review_list.items .pag-cont .pagination li a,
.user_list .pag-cont .pagination li a {
  padding: 4px 9px;
  font-size: 14px;
  color: #343434;
}
/* line 436, backend_w.scss */
.review_list.items .pag-cont .pagination li a:hover,
.user_list .pag-cont .pagination li a:hover {
  background-color: #004cff !important;
  color: white !important;
}
/* line 443, backend_w.scss */
.review_list.items .pag-cont .pagination select,
.user_list .pag-cont .pagination select {
  text-align: center;
  border-color: #dddddd;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  box-shadow: none;
  display: inline-block;
  width: 47px;
  padding: 0;
  float: left;
  height: 30px;
  margin-top: 0;
}
/* line 444, backend_w.scss */
.review_list.items .pag-cont .pagination select option,
.user_list .pag-cont .pagination select option {
  text-align: center;
}
/* line 461, backend_w.scss */
.review_list.items .form-control,
.user_list .form-control {
  border-radius: none;
}
/* line 464, backend_w.scss */
.review_list.items .table,
.user_list .table {
  font-size: 12px;
  color: #999999;
}
/* line 468, backend_w.scss */
.review_list.items input[type="checkbox"] + label:not(.status),
.user_list input[type="checkbox"] + label:not(.status) {
  margin: 0;
  margin-top: 20px;
}
/* line 472, backend_w.scss */
.review_list.items .checkbox label,
.user_list .checkbox label {
  padding-left: 6px;
}

/* line 477, backend_w.scss */
table#table-sotrudniki.table-hover > tbody > tr:hover > td {
  background-color: #e4e4e4;
}

/* line 481, backend_w.scss */
#table-sotrudniki {
  border-spacing: 0;
}
/* line 484, backend_w.scss */
#table-sotrudniki thead td {
  max-height: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 485, backend_w.scss */
#table-sotrudniki thead td:nth-child(1) {
  padding-top: 2px;
  padding-right: 0px;
  width: 8.5%;
}
/* line 490, backend_w.scss */
#table-sotrudniki thead td:nth-child(2) {
  padding-left: 0;
  width: 36%;
}
/* line 494, backend_w.scss */
#table-sotrudniki thead td:nth-child(3) {
  width: 20%;
}
/* line 497, backend_w.scss */
#table-sotrudniki thead td:nth-child(4) {
  width: 16%;
}
/* line 500, backend_w.scss */
#table-sotrudniki thead td:nth-child(5) {
  width: 13%;
}
/* line 503, backend_w.scss */
#table-sotrudniki thead td:nth-child(6) {
  width: 6%;
}
/* line 506, backend_w.scss */
#table-sotrudniki thead td .btn-group.checkbox {
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 5px;
}
/* line 507, backend_w.scss */
#table-sotrudniki thead td .btn-group.checkbox.open {
  border-bottom: none;
}
/* line 509, backend_w.scss */
#table-sotrudniki thead td .btn-group.checkbox.open > .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  margin-top: -1px;
}
/* line 513, backend_w.scss */
#table-sotrudniki thead td .btn-group.checkbox.open > .dropdown-menu > li > a:hover {
  background: #1242e3;
  color: #fff;
}
/* line 528, backend_w.scss */
#table-sotrudniki tbody {
  cursor: pointer;
}
/* line 530, backend_w.scss */
#table-sotrudniki tbody tr {
  height: 97px;
}
/* line 533, backend_w.scss */
#table-sotrudniki tbody tr:hover .user, #table-sotrudniki tbody tr:hover .number-user, #table-sotrudniki tbody tr:hover .mail, #table-sotrudniki tbody tr:hover .phone {
  color: #1242e3;
}
/* line 538, backend_w.scss */
#table-sotrudniki tbody td {
  padding-top: 20px;
  border: none;
}
/* line 539, backend_w.scss */
#table-sotrudniki tbody td:nth-child(1) {
  padding-left: 23px;
  width: 8.5%;
}
/* line 543, backend_w.scss */
#table-sotrudniki tbody td:nth-child(2) {
  padding-left: 0;
  width: 36%;
}
/* line 544, backend_w.scss */
#table-sotrudniki tbody td:nth-child(2) .table-img {
  margin-top: 2px;
}
/* line 550, backend_w.scss */
#table-sotrudniki tbody td:nth-child(3) {
  width: 20%;
}
/* line 553, backend_w.scss */
#table-sotrudniki tbody td:nth-child(4) {
  width: 16%;
}
/* line 556, backend_w.scss */
#table-sotrudniki tbody td:nth-child(5) {
  width: 13%;
}
/* line 559, backend_w.scss */
#table-sotrudniki tbody td:nth-child(6) {
  width: 6%;
  text-align: center;
}
/* line 563, backend_w.scss */
#table-sotrudniki tbody td .v-seti {
  color: #009f00;
}
/* line 566, backend_w.scss */
#table-sotrudniki tbody td .user, #table-sotrudniki tbody td .create, #table-sotrudniki tbody td .redact, #table-sotrudniki tbody td .role {
  color: #000000;
}
/* line 571, backend_w.scss */
#table-sotrudniki tbody td .table-img {
  margin-right: 9px;
  float: left;
}
/* line 574, backend_w.scss */
#table-sotrudniki tbody td .table-img img {
  width: 60px;
  height: 60px;
}
/* line 581, backend_w.scss */
#table-sotrudniki .btn-small.btn-active {
  margin-left: 0;
}

/* line 588, backend_w.scss */
.user_settings span.dash,
.one_item.users span.dash {
  position: absolute;
  right: 178px;
}
/* line 592, backend_w.scss */
.user_settings .btn.btn-default,
.one_item.users .btn.btn-default {
  width: 40px;
  height: 30px;
  position: relative;
  top: -3px;
}
/* line 598, backend_w.scss */
.user_settings .img-cont,
.one_item.users .img-cont {
  width: 50px;
  height: 50px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  padding: 0;
  margin-top: -13px;
  margin-left: 15px;
  margin-right: 14px;
}
/* line 607, backend_w.scss */
.user_settings .img-cont img,
.one_item.users .img-cont img {
  padding-top: 8px;
  padding-left: 12px;
}
/* line 612, backend_w.scss */
.user_settings .form-group,
.one_item.users .form-group {
  position: relative;
  float: left;
  margin-top: -3px;
}
/* line 616, backend_w.scss */
.user_settings .form-group:nth-child(1), .user_settings .form-group:nth-child(2),
.one_item.users .form-group:nth-child(1),
.one_item.users .form-group:nth-child(2) {
  width: 180px;
  margin-right: 20px;
}
/* line 620, backend_w.scss */
.user_settings .form-group:nth-child(3), .user_settings .form-group:nth-child(4),
.one_item.users .form-group:nth-child(3),
.one_item.users .form-group:nth-child(4) {
  width: 100px;
}
/* line 623, backend_w.scss */
.user_settings .form-group:nth-child(3),
.one_item.users .form-group:nth-child(3) {
  margin-right: 20px;
}
/* line 626, backend_w.scss */
.user_settings .form-group:nth-child(4),
.one_item.users .form-group:nth-child(4) {
  margin-right: 8px;
}
/* line 629, backend_w.scss */
.user_settings .form-group label,
.one_item.users .form-group label {
  margin-top: -17px;
  position: absolute;
  font-size: 12px;
  color: #999999;
}
/* line 635, backend_w.scss */
.user_settings .form-group input, .user_settings .form-group select,
.one_item.users .form-group input,
.one_item.users .form-group select {
  height: 31px;
  width: 100%;
  outline: none;
  border-radius: 0;
  border: 1px solid #dadada;
  padding-left: 5px;
}
/* line 644, backend_w.scss */
.user_settings .glyphicon-search,
.one_item.users .glyphicon-search {
  margin-top: -23px;
  margin-right: 7px;
  cursor: pointer;
}
/* line 649, backend_w.scss */
.user_settings .title,
.one_item.users .title {
  margin-right: 13px;
}

/* line 655, backend_w.scss */
#user_setting .help-inline {
  position: absolute;
  bottom: -15px;
  font-size: 83%;
  color: #ff0000;
}
/* line 661, backend_w.scss */
#user_setting .nav li a {
  border-radius: 0;
}
/* line 665, backend_w.scss */
#user_setting #profile .information .form-group {
  margin-right: 20px;
}
/* line 666, backend_w.scss */
#user_setting #profile .information .form-group .inf {
  padding-left: 0px;
}
/* line 671, backend_w.scss */
#user_setting #profile .information label.control-label {
  text-align: right;
  padding-right: 15px;
}

/* line 678, backend_w.scss */
.pagination {
  margin-top: 8px;
}
/* line 682, backend_w.scss */
.pagination ul.pagination.pagination-sm li a {
  color: #000000;
}
/* line 685, backend_w.scss */
.pagination ul.pagination.pagination-sm li.active a {
  color: #fff;
  border-color: #0849e1;
  background-color: #0849e1;
}
/* line 690, backend_w.scss */
.pagination ul.pagination.pagination-sm li a:hover {
  color: #fff;
  background-color: #004cff;
  border-color: #004cff;
}

/* line 699, backend_w.scss */
#ui-datepicker-div {
  z-index: 2 !important;
  padding: 0px;
  width: 225px;
}
/* line 703, backend_w.scss */
#ui-datepicker-div .ui-datepicker-header {
  height: 36px;
  font-weight: normal;
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #cfcfcf;
}
/* line 704, backend_w.scss */
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
  font-size: 14px;
  color: #999999;
  font-weight: normal;
}
/* line 709, backend_w.scss */
#ui-datepicker-div .ui-datepicker-header .ui-icon, #ui-datepicker-div .ui-datepicker-header .ui-widget-content .ui-icon {
  background: none;
  font-family: 'FontAwesome';
  text-indent: 0px;
}
/* line 723, backend_w.scss */
#ui-datepicker-div table thead th {
  font-weight: normal;
}
/* line 728, backend_w.scss */
#ui-datepicker-div table tbody a {
  background: none;
  border: none;
  color: #000000;
  border-radius: 3px;
  text-align: center;
}
/* line 729, backend_w.scss */
#ui-datepicker-div table tbody a:hover {
  background: #004cff;
  color: #fff;
}
/* line 739, backend_w.scss */
#ui-datepicker-div table tbody td {
  text-align: center;
}
/* line 741, backend_w.scss */
#ui-datepicker-div table tbody td.ui-datepicker-today a, #ui-datepicker-div table tbody td:hover {
  border-radius: 3px;
  color: #fff;
  background: #1242e3;
}
/* line 746, backend_w.scss */
#ui-datepicker-div table tbody td.ui-state-disabled .ui-state-default {
  background: none;
  border: none;
  color: #999999;
}

/* line 756, backend_w.scss */
.form-horizontal .control-label {
  color: #979797;
}

/* line 761, backend_w.scss */
.form-group.comment {
  margin-left: 15px;
}
/* line 764, backend_w.scss */
.form-group .form-control {
  border-radius: 0;
  color: #000000;
  line-height: 16px;
  height: 30px;
}
/* line 765, backend_w.scss */
.form-group .form-control#Users_password {
  width: 80%;
}
/* line 773, backend_w.scss */
.form-group #changePsw {
  position: absolute;
  top: -1px;
  right: 15px;
}

/* line 782, backend_w.scss */
#user_item_setting {
  font-size: 14px;
  line-height: 15px;
}
/* line 783, backend_w.scss */
#user_item_setting .date-time {
  margin-left: 10px;
  color: #979797;
}
/* line 788, backend_w.scss */
#user_item_setting .number-user {
  margin-left: 0px;
}
/* line 793, backend_w.scss */
#user_item_setting .table-img {
  margin-top: -18px;
}
/* line 795, backend_w.scss */
#user_item_setting .table-img img {
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-top: -1px;
  margin-right: 10px;
}
/* line 805, backend_w.scss */
#user_item_setting .number-user .title-icon, #user_item_setting .mail .title-icon, #user_item_setting .phone .title-icon, #user_item_setting .user .title-icon {
  margin-right: 5px;
}
/* line 809, backend_w.scss */
#user_item_setting .number-user, #user_item_setting .mail, #user_item_setting .phone {
  color: #979797;
}
/* line 812, backend_w.scss */
#user_item_setting .user_settings {
  position: absolute;
  top: 0px;
  right: 12px;
  display: inline-block;
}
/* line 817, backend_w.scss */
#user_item_setting .user_settings div {
  display: inline-block;
}
/* line 820, backend_w.scss */
#user_item_setting .user_settings .form-group {
  width: 260px;
}
/* line 823, backend_w.scss */
#user_item_setting .user_settings a.btn {
  margin-right: 40px;
  margin-left: 10px;
  height: 25px;
  padding-top: 4px;
  padding-bottom: 0;
}
/* line 830, backend_w.scss */
#user_item_setting .user_settings button.btn-default {
  top: 0;
  height: 25px;
  padding: 0;
}
/* line 834, backend_w.scss */
#user_item_setting .user_settings button.btn-default:hover {
  color: #fff;
  text-shadow: none;
  background: #1242e3;
}
/* line 840, backend_w.scss */
#user_item_setting .user_settings .dropdown-menu {
  left: 255px;
  top: 25px;
  border-radius: 0;
  box-shadow: none;
  margin-top: -1px;
}
/* line 846, backend_w.scss */
#user_item_setting .user_settings .dropdown-menu > li > a:hover {
  background: #1242e3;
  color: #fff;
}

/* line 857, backend_w.scss */
#gallery-products-product-form h3,
#gallery-form h3 {
  margin-bottom: 0;
}
/* line 860, backend_w.scss */
#gallery-products-product-form #load_from_disk,
#gallery-form #load_from_disk {
  margin: auto;
  width: 70%;
  height: 10%;
  display: none;
  z-index: 1;
}
/* line 867, backend_w.scss */
#gallery-products-product-form .qq-upload-list,
#gallery-form .qq-upload-list {
  display: none;
}
/* line 870, backend_w.scss */
#gallery-products-product-form .avatar,
#gallery-form .avatar {
  width: 140px;
  height: 140px;
  position: relative;
  left: -140px;
  top: 0px;
}
/* line 871, backend_w.scss */
#gallery-products-product-form .avatar .close-img,
#gallery-form .avatar .close-img {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 256px;
  cursor: pointer;
}
/* line 878, backend_w.scss */
#gallery-products-product-form .avatar:hover .film #load_from_disk,
#gallery-form .avatar:hover .film #load_from_disk {
  display: block;
  z-index: 1001;
}
/* line 882, backend_w.scss */
#gallery-products-product-form .avatar img#avatar,
#gallery-form .avatar img#avatar {
  width: 140px;
  height: 140px;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
}
/* line 888, backend_w.scss */
#gallery-products-product-form .avatar img#avatar:hover,
#gallery-form .avatar img#avatar:hover {
  opacity: 0.3;
}
/* line 899, backend_w.scss */
#gallery-products-product-form .gallery-avatar .film,
#gallery-form .gallery-avatar .film {
  position: absolute;
  bottom: 120px;
  left: 155px;
  text-align: center;
  font-size: 12px;
  width: 140px;
  height: 100%;
}

/* line 911, backend_w.scss */
#products-list .one_item.gallery_images {
  position: relative;
}
/* line 912, backend_w.scss */
#products-list .one_item.gallery_images .status_id {
  padding-right: 0;
}
/* line 913, backend_w.scss */
#products-list .one_item.gallery_images .status_id label {
  color: #cfcfcf;
  display: block;
  margin-top: 0px;
  padding-top: 4px;
}
/* line 914, backend_w.scss */
#products-list .one_item.gallery_images .status_id label::before {
  margin-right: 0px;
}
/* line 922, backend_w.scss */
#products-list .one_item.gallery_images .status_id .status {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 23px;
}
/* line 931, backend_w.scss */
#products-list .one_item.gallery_images:after {
  position: absolute;
  right: 10px;
  top: 30px;
  content: url("/images/drag_drop.png");
  float: right;
}
/* line 938, backend_w.scss */
#products-list .one_item.gallery_images .image {
  border: 1px solid #cfcfcf;
  width: 75px;
  height: 75px;
}
/* line 942, backend_w.scss */
#products-list .one_item.gallery_images .image img {
  margin-top: 0;
}
/* line 946, backend_w.scss */
#products-list .one_item.gallery_images .name a:hover {
  text-decoration: none;
  color: #000000;
}
/* line 951, backend_w.scss */
#products-list a:hover .fa {
  color: #fff;
}

/* line 957, backend_w.scss */
#gallery-products-product-form h2 {
  margin-bottom: 0;
  margin-left: 10px;
}
/* line 961, backend_w.scss */
#gallery-products-product-form .form-group.image {
  padding: 0;
  margin-left: 15px;
}
/* line 965, backend_w.scss */
#gallery-products-product-form .gallery-avatar {
  width: 325px;
  height: 325px;
  top: 0;
  left: 15px;
  position: absolute;
}
/* line 971, backend_w.scss */
#gallery-products-product-form .gallery-avatar .film {
  opacity: 0;
  width: 325px;
  height: 325px;
  left: 0;
  top: 0;
  z-index: 100;
}
/* line 973, backend_w.scss */
#gallery-products-product-form .gallery-avatar .film:hover {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
/* line 977, backend_w.scss */
#gallery-products-product-form .gallery-avatar .film a#load_from_disk {
  width: 30%;
  top: 20px;
}
/* line 988, backend_w.scss */
#gallery-products-product-form #FineUploader {
  background-size: contain;
  width: 325px;
  height: 325px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 995, backend_w.scss */
#gallery-products-product-form .qq-upload-drop-area {
  border: 1px solid #e4e4e4;
}
/* line 998, backend_w.scss */
#gallery-products-product-form .qq-upload-drop-area,
#gallery-products-product-form .qq-uploader {
  height: 100%;
  width: 100%;
}
/* line 1003, backend_w.scss */
#gallery-products-product-form .avatar {
  text-align: center;
  width: 325px;
  height: 325px;
  top: 22px;
  left: 0px;
  position: absolute;
}
/* line 1004, backend_w.scss */
#gallery-products-product-form .avatar #avatar {
  height: 325px;
  max-width: 100%;
  z-index: 9000;
}
/* line 1008, backend_w.scss */
#gallery-products-product-form .avatar #avatar:hover {
  opacity: 0.3;
}
/* line 1011, backend_w.scss */
#gallery-products-product-form .avatar #avatar:hover {
  opacity: 0.3;
}
/* line 1015, backend_w.scss */
#gallery-products-product-form .avatar .close-img {
  right: 0;
  left: initial;
}
/* line 1026, backend_w.scss */
#gallery-products-product-form .redactor-box {
  margin-bottom: 0;
}

/* line 1034, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group {
  width: 45px;
  display: inline;
}
/* line 1038, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-menu {
  min-width: 20px;
  width: 102px;
  border-radius: 0;
  left: 0px;
  top: 26px;
}
/* line 1046, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li a {
  width: 100%;
  padding-left: 10px;
}
/* line 1049, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li a:hover {
  background: #004cff;
  color: #fff;
}
/* line 1054, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-menu ul li.selected a {
  border: none;
  background: #1242e3;
  color: #fff;
}
/* line 1062, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .caret {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 1069, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-toggle {
  border-left: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  height: 30px;
  width: 45px;
  min-width: 40px;
  padding-left: 3px;
}
/* line 1078, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 2px;
}
/* line 1081, backend_w.scss */
.gallery_list .pagination .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 23px;
  text-align: right;
}
/* line 1092, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-menu {
  min-width: 20px;
  width: 55px;
  border-radius: 0;
  left: -55px;
  top: 23px;
}
/* line 1100, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-menu ul li a {
  padding-left: 10px;
}
/* line 1102, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-menu ul li a:hover {
  background: #004cff;
  color: #fff;
}
/* line 1107, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-menu ul li.selected a {
  border: none;
  background: #1242e3;
  color: #fff;
}
/* line 1117, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .caret {
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 1124, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-toggle {
  padding-left: 3px;
}
/* line 1126, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 2px;
}
/* line 1129, backend_w.scss */
.gallery_list .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 23px;
  text-align: center;
}
/* line 1136, backend_w.scss */
.gallery_list .fa-angle-left:before, .gallery_list .fa-angle-right:before {
  vertical-align: -3px;
  position: relative;
  left: 9px;
}
/* line 1146, backend_w.scss */
.gallery_list #products-list .product_for_page.bootstrap-select {
  position: absolute;
  margin-top: 2px;
  left: 100%;
  height: 0;
  width: 0 !important;
  border: none;
}
/* line 1154, backend_w.scss */
.gallery_list #products-list .product_for_page button {
  position: absolute;
  margin-top: 0px;
  right: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  width: 40px;
  font-size: 12px;
  height: 27px;
  background: linear-gradient(to top, #e8e8e8, #fff);
}
/* line 1169, backend_w.scss */
.gallery_list .pag-cont {
  float: right;
  margin-right: 92px;
}
/* line 1174, backend_w.scss */
.gallery_list .pag-cont ul.pagination li a {
  width: 29px;
  height: 30px;
  padding: 0;
}
/* line 1181, backend_w.scss */
.gallery_list .pag-cont .dropdown.dropdown-select {
  display: inline-block;
  padding-left: 0;
  float: right;
  margin: 7px 0 20px 46px;
  border-radius: 4px;
}
/* line 1187, backend_w.scss */
.gallery_list .pag-cont .dropdown.dropdown-select .btn {
  font-size: 12px;
  width: 40px;
  height: 27px;
  padding: 0;
  padding-top: 1px;
}
/* line 1195, backend_w.scss */
.gallery_list .pag-cont .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0 16px;
  border-radius: 4px;
}
/* line 1201, backend_w.scss */
.gallery_list .pag-cont .pagination li a {
  padding: 4px 9px;
  font-size: 14px;
  color: #343434;
}
/* line 1205, backend_w.scss */
.gallery_list .pag-cont .pagination li a:hover {
  background-color: #004cff !important;
  color: white !important;
}
/* line 1212, backend_w.scss */
.gallery_list .pag-cont .pagination select {
  text-align: center;
  border-color: #dddddd;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  box-shadow: none;
  display: inline-block;
  width: 47px;
  padding: 0;
  float: left;
  height: 30px;
  margin-top: 0;
}
/* line 1213, backend_w.scss */
.gallery_list .pag-cont .pagination select option {
  text-align: center;
}
/* line 1230, backend_w.scss */
.gallery_list .btn-group.checkbox {
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 5px;
}
/* line 1231, backend_w.scss */
.gallery_list .btn-group.checkbox.open {
  border-bottom: none;
}
/* line 1233, backend_w.scss */
.gallery_list .btn-group.checkbox.open > .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  margin-top: -1px;
}
/* line 1237, backend_w.scss */
.gallery_list .btn-group.checkbox.open > .dropdown-menu > li > a:hover {
  background: #1242e3;
  color: #fff;
}

/* line 1249, backend_w.scss */
#lightbox.lightbox {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

/* line 1256, backend_w.scss */
.main-title-block.module-title #products-list .one_item {
  overflow: visible;
}
/* line 1258, backend_w.scss */
.main-title-block.module-title #products-list .one_item .tooltip.fade {
  z-index: 1000;
}
/* line 1261, backend_w.scss */
.main-title-block.module-title #products-list .one_item .image {
  padding-left: 35px;
}
/* line 1264, backend_w.scss */
.main-title-block.module-title #products-list .one_item .buttons {
  float: right;
}
/* line 1266, backend_w.scss */
.main-title-block.module-title #products-list .one_item .buttons a.btn-trash:hover {
  background-color: #1246d8;
}

/* line 1275, backend_w.scss */
#rewiew-settins-form ul li:nth-child(4),
#rewiew-settins-form ul li:nth-child(5),
#rewiew-settins-form ul li:nth-child(6) {
  margin-left: 15px;
}
/* line 1281, backend_w.scss */
#rewiew-settins-form label {
  color: #000000;
  margin-top: 3px;
  margin-left: 5px;
}
/* line 1285, backend_w.scss */
#rewiew-settins-form label.check-label {
  margin-left: -10px;
}
/* line 1289, backend_w.scss */
#rewiew-settins-form .disabled label {
  color: #979797;
}

/* line 1294, backend_w.scss */
.main-title-block.module-title #review-filter {
  margin-top: -20px;
}
/* line 1296, backend_w.scss */
.main-title-block.module-title #review-filter a {
  width: 40px;
  height: 30px;
  position: relative;
  top: -3px;
}
/* line 1301, backend_w.scss */
.main-title-block.module-title #review-filter a span.pull-left {
  display: block;
  position: absolute;
  top: -19px;
  left: -35px;
  line-height: 73px !important;
  height: 73px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
/* line 1312, backend_w.scss */
.main-title-block.module-title #review-filter a:hover span.pull-left {
  color: #3d3d3d;
  background-color: #d9d9d9;
}
/* line 1317, backend_w.scss */
.main-title-block.module-title #review-filter .filter-title {
  margin-bottom: 3px;
}
/* line 1320, backend_w.scss */
.main-title-block.module-title #review-filter .buttons {
  margin-top: 5px;
}
/* line 1322, backend_w.scss */
.main-title-block.module-title #review-filter .buttons button {
  margin-right: 25px;
}
/* line 1325, backend_w.scss */
.main-title-block.module-title #review-filter .buttons #reset {
  margin-right: 50px;
}
/* line 1328, backend_w.scss */
.main-title-block.module-title #review-filter .buttons #reset + a {
  padding-left: 10px;
}
/* line 1331, backend_w.scss */
.main-title-block.module-title #review-filter .buttons > * {
  margin-top: 0px;
  height: 30px;
  top: 0px;
}

/* line 1339, backend_w.scss */
#products-list.reviews-list {
  position: relative;
}
/* line 1341, backend_w.scss */
#products-list.reviews-list a.archive {
  top: inherit;
  width: 120px;
  position: absolute;
  bottom: -50px;
  right: 0;
}
/* line 1348, backend_w.scss */
#products-list.reviews-list .title {
  font-size: 16px;
  margin-top: 13px;
}
/* line 1352, backend_w.scss */
#products-list.reviews-list .buttons_group {
  padding-left: 25px;
  padding-right: 0px;
}
/* line 1356, backend_w.scss */
#products-list.reviews-list select#theme {
  padding: 5px;
  font-size: 14px;
  width: 100%;
  margin-left: -40px;
  margin-top: 5px;
}
/* line 1364, backend_w.scss */
#products-list.reviews-list .btn-group.checkbox {
  margin: 0px;
}
/* line 1367, backend_w.scss */
#products-list.reviews-list .list-title {
  color: #737373;
  margin-top: 25px;
}
/* line 1370, backend_w.scss */
#products-list.reviews-list .list-title div:nth-child(3) {
  padding-left: 17px;
}
/* line 1374, backend_w.scss */
#products-list.reviews-list .items {
  margin-top: 10px;
}
/* line 1377, backend_w.scss */
#products-list.reviews-list button {
  top: 5px;
  height: 30px;
}

/* line 1384, backend_w.scss */
.review_list .checkbox.open .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  margin-top: -1px;
}
/* line 1388, backend_w.scss */
.review_list .checkbox.open .dropdown-menu > li > a:hover {
  background: #1242e3;
  color: #fff;
}
/* line 1393, backend_w.scss */
.review_list ul#table-review {
  cursor: pointer;
}
/* line 1395, backend_w.scss */
.review_list ul#table-review li.one_item {
  padding-top: 8px;
  color: #737373;
  margin-bottom: 10px;
  height: 85px;
  border: none;
}
/* line 1398, backend_w.scss */
.review_list ul#table-review li.one_item .user-info {
  white-space: nowrap;
  overflow-x: hidden;
}
/* line 1403, backend_w.scss */
.review_list ul#table-review li.one_item .theme, .review_list ul#table-review li.one_item .text {
  color: #000000;
}
/* line 1406, backend_w.scss */
.review_list ul#table-review li.one_item .rating {
  margin-top: 5px;
}
/* line 1408, backend_w.scss */
.review_list ul#table-review li.one_item .rating .fa {
  margin-top: 0px;
  font-size: 18px;
}
/* line 1413, backend_w.scss */
.review_list ul#table-review li.one_item img {
  margin-top: 3px;
}
/* line 1416, backend_w.scss */
.review_list ul#table-review li.one_item > div {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 12px;
  max-height: 72px;
  overflow-y: hidden;
}
/* line 1417, backend_w.scss */
.review_list ul#table-review li.one_item > div:first-child {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 1421, backend_w.scss */
.review_list ul#table-review li.one_item > div input[type="checkbox"] + label:not(.status) {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 1434, backend_w.scss */
.review_list ul#table-review li.one_item:hover {
  background-color: #e4e4e4;
}
/* line 1437, backend_w.scss */
.review_list ul#table-review li.one_item.status {
  border-left-width: 4px;
  border-left-style: solid;
}
/* line 1440, backend_w.scss */
.review_list ul#table-review li.one_item.status.status-new {
  border-left-color: #0849e1;
}
/* line 1443, backend_w.scss */
.review_list ul#table-review li.one_item.status.status-moderate {
  border-left-color: #fb6b00;
}
/* line 1446, backend_w.scss */
.review_list ul#table-review li.one_item.status.status-placement {
  border-left-color: #009f00;
}
/* line 1449, backend_w.scss */
.review_list ul#table-review li.one_item.status.status-rejected {
  border-left-color: #ff0000;
}
/* line 1453, backend_w.scss */
.review_list ul#table-review li.one_item.status.status- .theme, .review_list ul#table-review li.one_item.status.status- .text {
  color: #737373;
}

/* line 1463, backend_w.scss */
#main-left-tree-menu li a.active {
  color: #0849e1;
}
/* line 1466, backend_w.scss */
#main-left-tree-menu li a.status2 {
  color: #ff0000;
}

/* line 1473, backend_w.scss */
#create_category .modal-dialog,
#update_category .modal-dialog {
  margin-top: 20%;
  width: 30%;
}
/* line 1476, backend_w.scss */
#create_category .modal-dialog .modal-content,
#update_category .modal-dialog .modal-content {
  border-radius: 0;
}
/* line 1478, backend_w.scss */
#create_category .modal-dialog .modal-content .modal-header .close,
#update_category .modal-dialog .modal-content .modal-header .close {
  margin-top: -20px;
  margin-right: -35px;
}
/* line 1482, backend_w.scss */
#create_category .modal-dialog .modal-content #create-form,
#create_category .modal-dialog .modal-content #edit-form,
#update_category .modal-dialog .modal-content #create-form,
#update_category .modal-dialog .modal-content #edit-form {
  padding: 10px 30px;
}
/* line 1485, backend_w.scss */
#create_category .modal-dialog .modal-content #create-form .form-group,
#create_category .modal-dialog .modal-content #edit-form .form-group,
#update_category .modal-dialog .modal-content #create-form .form-group,
#update_category .modal-dialog .modal-content #edit-form .form-group {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 1489, backend_w.scss */
#create_category .modal-dialog .modal-content #create-form a, #create_category .modal-dialog .modal-content #create-form a:hover,
#create_category .modal-dialog .modal-content #edit-form a,
#create_category .modal-dialog .modal-content #edit-form a:hover,
#update_category .modal-dialog .modal-content #create-form a,
#update_category .modal-dialog .modal-content #create-form a:hover,
#update_category .modal-dialog .modal-content #edit-form a,
#update_category .modal-dialog .modal-content #edit-form a:hover {
  text-decoration: underline;
  color: #979797;
  margin-left: 20px;
}

/* line 1499, backend_w.scss */
.review-edit {
  color: #737373;
}
/* line 1500, backend_w.scss */
.review-edit .form-group {
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
}
/* line 1501, backend_w.scss */
.review-edit .form-group .redactor-box {
  margin-bottom: 0;
}
/* line 1507, backend_w.scss */
.review-edit .form-group .help-inline {
  font-size: 12px;
  color: #ff0000;
  position: absolute;
}
/* line 1514, backend_w.scss */
.review-edit .client-info {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 1518, backend_w.scss */
.review-edit .rating {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 1521, backend_w.scss */
.review-edit .rating .fa {
  font-size: 16px;
  margin-right: 5px;
}
/* line 1526, backend_w.scss */
.review-edit .rating-info {
  margin-top: 10px;
  padding-left: 0;
}
/* line 1531, backend_w.scss */
.review-edit .user, .review-edit .phone, .review-edit .mail {
  padding-left: 20px;
  margin-top: 3px;
}
/* line 1534, backend_w.scss */
.review-edit .user img, .review-edit .phone img, .review-edit .mail img {
  position: absolute;
  left: 0;
}
/* line 1539, backend_w.scss */
.review-edit .number {
  padding-right: 10px;
}
/* line 1542, backend_w.scss */
.review-edit .user {
  color: #000000;
}
/* line 1545, backend_w.scss */
.review-edit .user-status {
  float: right;
  padding-right: 40px;
}
/* line 1549, backend_w.scss */
.review-edit .user-status-1 {
  color: #009f00;
}
/* line 1552, backend_w.scss */
.review-edit .user-status-2 {
  color: #ff0000;
}
/* line 1555, backend_w.scss */
.review-edit .user-status-3 {
  color: #3d3d3d;
}

/* line 1561, backend_w.scss */
.user_settings #status .border {
  border-left: 4px solid;
  padding-left: 10px;
  position: relative;
  left: -14px;
}
/* line 1566, backend_w.scss */
.user_settings #status .border.status-1 {
  border-left-color: #0849e1;
}
/* line 1569, backend_w.scss */
.user_settings #status .border.status-2 {
  border-left-color: #fb6b00;
}
/* line 1572, backend_w.scss */
.user_settings #status .border.status-5, .user_settings #status .border.status-6 {
  border-left-color: #009f00;
}
/* line 1576, backend_w.scss */
.user_settings #status .border.status-7 {
  border-left-color: #ff0000;
}
